* { box-sizing: border-box }

body { padding: 0; margin: 0; }

#app {
  position: relative;
  height: 100vh;
  display: flex;
  background: #1D1E22;
}

.settings-container {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

.app-center {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  background: #2D2E32;
}

.audio-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.menu-container {
  width: 100px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background: lightgray;
}

.btn-container {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.render-btn {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  color: gray;
  cursor: pointer;
}

.render-btn:hover {
  color: #F08548;
}
