* { box-sizing: border-box }

body { padding: 0; margin: 0; }

#app {
  position: relative;
  height: 100vh;
  background: #1D1E22;
  display: flex;
  justify-content: center;
}

.canvasContainer {
  display: flex;
  align-items: center;
}

.canvas {
  background: #2D2E32;
}

.audioContainer {
  position: absolute;
  bottom: 20px;
}

.renderBtnContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.renderBtn {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  color: gray;
  cursor: pointer;
}

.renderBtn:hover {
  color: #F08548;
}
